@import url('https://fonts.googleapis.com/css2?family=Alkalami&family=Fugaz+One&family=Oleo+Script+Swash+Caps:wght@700&family=PT+Sans+Narrow&family=Poppins:ital,wght@1,700;1,900&family=Righteous&family=Roboto:ital@1&family=Rowdies:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkalami&family=Fugaz+One&family=Noto+Sans+Devanagari:wght@500&family=Oleo+Script+Swash+Caps:wght@700&family=PT+Sans+Narrow&family=Poppins:ital,wght@1,400;1,900&family=Righteous&family=Roboto:ital@1&family=Rowdies:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkalami&family=Fugaz+One&family=Noto+Sans+Devanagari:wght@500&family=Oleo+Script+Swash+Caps:wght@700&family=PT+Sans+Narrow&family=Patrick+Hand&family=Poppins:ital,wght@1,700;1,900&family=Righteous&family=Roboto:ital@1&family=Rowdies:wght@300&display=swap');
.signin {
  width: 400px;
  /* height:400px; */
  height: fit-content;
  background-color: white;
  border-radius: 15px;
  margin-top: 10%;
  animation: swing ease-in-out .7s;
  background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);


}

* {
  margin: 0%
}

.btn {
  background-image: linear-gradient(-225deg, #3D4E81 0%, #5753C9 48%, #6E7FF3 100%);
  font-family: 'Fugaz One', cursive !important;
  color: white !important;
}

.button {
  background-color: #00B712 !important;
  border: none !important;
  color: white;
  width: fit-content;
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
  font-family: 'Fugaz One', cursive !important;
}

.txtarea {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: larger;

}

.g {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1075%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%23SvgjsLinearGradient1076)'%3e%3c/rect%3e%3cpath d='M 0%2c22 C 57.6%2c59.4 172.8%2c199.8 288%2c209 C 403.2%2c218.2 460.8%2c55.6 576%2c68 C 691.2%2c80.4 748.8%2c275.4 864%2c271 C 979.2%2c266.6 1036.8%2c52.6 1152%2c46 C 1267.2%2c39.4 1382.4%2c199.6 1440%2c238L1440 560L0 560z' fill='%23184a7e'%3e%3c/path%3e%3cpath d='M 0%2c311 C 57.6%2c349.2 172.8%2c481.2 288%2c502 C 403.2%2c522.8 460.8%2c426.6 576%2c415 C 691.2%2c403.4 748.8%2c460.8 864%2c444 C 979.2%2c427.2 1036.8%2c326.2 1152%2c331 C 1267.2%2c335.8 1382.4%2c440.6 1440%2c468L1440 560L0 560z' fill='%232264ab'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1075'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='15.28%25' y1='-39.29%25' x2='84.72%25' y2='139.29%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1076'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(16%2c 101%2c 211%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.fa-user-pen {
  position: relative;
  top: -70px;
  left: 350px;
  color: blue;
  font-size: 40px;
}

.title {
  font-family: 'Poppins', sans-serif;
}

.title2 {
  font-family: 'Noto Sans Devanagari', sans-serif;
}

.submit-btn {
  width: 60px;
  height: 20px;

}

.info {
  font-family: 'Rowdies', cursive !important;
  word-spacing: 3px;

}

.error {
  border: 1px solid silver;
  font-size: 16px;
  border-radius: 6px;
  color: red;
  padding: 5px;
  margin: 5px;
}

@keyframes swing {
  0% {
    transform: scale(2.1);
  }

  10% {
    transform: scale(2);
  }

  20% {
    transform: scale(1.9);
  }

  30% {
    transform: scale(1.8);
  }

  40% {
    transform: scale(1.7);
  }

  50% {
    transform: scale(1.6);
  }

  60% {
    transform: scale(1.5)
  }

  70% {
    transform: scale(1.4);
  }

  80% {
    transform: scale(1.3);
  }

  90% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1.1);
  }

  /* 0%{transform:scale(1.1)} */
}

.font-link {
  font-family: 'Poppins', sans-serif;
  ;
}

#email {
  font-size: 15px;
  margin: 5px;
}

.box {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 20rem !important;
  flex-direction: column;
}

.main {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: #dadbd3
}

.containes {
  display: flex;
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  height: 95vh;
  width: 95vw;
  border-radius: 13px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;

}

*:focus {
  outline: none;
}

.chat-section {
  display: flex;
  flex-direction: column;
  flex: 0.35;
}

.chat-box {
  display: flex;
  flex-direction: column;
  flex: 0.65;
}

.chat-section-header {
  padding: 20px;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  border-right: 1px solid lightgray;
  display:flex;
  justify-content: space-between;
  border-radius:13px 0px 0px 0px;
}
.logo{
display: flex;
justify-content: flex-end;
align-items: center;
min-width:15vw;
}
.logo>img{
  width:6vw;
}
.chat-search {
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  height: 39px;
  padding: 2rem;
}

.chat-search-box {
  display: flex;
  align-items: center;
  background-color: white;
  width: 100%;
  height: 35px;
  border-radius: 20px;
}

.chat-search-box>.MuiSvgIcon-root {
  color: gray;
  padding: 10px;
  font-size: 40px;
}

.chat-search-box>input {
  border: none;
  outline-width: 0;
  margin-left: 10px;
}

.Contact-list {
  display: flex;
  padding: 20px;
  cursor: pointer;
  border-bottom: 1px solid #f6f6f6;
}
.Contact-info{
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  padding:10px;
}
.Contact-info>h4{
   margin-top:5px;
   margin-left:5px;
}
.Contact-info>span{
  cursor: pointer;
}
.Contact-section {
  overflow: auto;
}

.Contact-section::-webkit-scrollbar {
  display: none;

}

.chat-head {
  padding: 20px;
  display: flex;
  align-items: center;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  color:white;
  border-radius:0px 13px 0px 0px;
}

.chat-head-info {
  flex: 1;
  padding-left: 20px;
}

.chat_head-info>h3{
  margin-bottom: 3px;
  font-weight: 500;
  font-size: medium;
}
.Chat-head-right>.MuiSvgIcon-root{
  color: silver !important;

}

.Contact-section>h4 {
  padding: 20px;
}

.Contact-list:hover {
  background-color: lightgrey;
}

.User-info>h2 {
  font-size: 16px;
}

.User-info {
  margin-left: 15px;
}
.chat-body{
  background-image:url('/public/chatbg.jpg');
  background-size: cover;
  background-repeat:no-repeat;
  flex:1;
  flex-direction: column;
  gap: 0.5rem;
  padding:30px;
  display: flex;
  flex-direction: column;
  overflow:auto;
}
.chat-body>audio{
width:14rem;
}
.chat-body::-webkit-scrollbar{
display: none;
}
.chat-footer{
  display:flex;
  justify-content: space-evenly;
  align-items: center;
  height:65px;
  cursor: pointer;
  border-top: 1px solid lightgray;
}
.chat-footer>textArea{
  flex:1;
  border-radius:30px;
  padding:10px;
  max-height:100px;
  border:none;
  overflow-y:auto;
  resize: none;
}
.AudioRecorder{
  display:none;
}
.chat-footer>textArea::-webkit-scrollbar{
display:none;
}
.Avatar{
  border-radius:50%;
  cursor: pointer;
  width:8rem;
  height: 8rem;
}
.Uploadpic{
  border-radius:10px;
  padding:5px;
  width:fit-content;
  cursor: pointer;
  position: relative;
  right:-150px;
  color: #f6f6f6;
  background-color:yellowgreen;
}
.card-img{
  text-align: center;
}
input[type='file']{
  display: none;
}
.profile-info{
  font-family: 'Patrick Hand', cursive;
  font-size:18px;
  font-weight: 400;
  word-spacing:1px;
  letter-spacing:1px;
}
.card-body{
  display: flex;
}
.sendbtn{
  padding:10px;
  background-color: #00B712;
  color: #ededed;
  cursor: pointer;
  border-radius:50%;
}
.Loader{
  display:flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
  top:100px;
}
.message{
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  color: black;
  padding: 0.7rem;
  border-radius: 1rem 1rem 1rem 0;
  max-width: 28rem;
  width: fit-content;
  display: flex;
  word-wrap: break-word;
  flex-direction: column;
  gap: 0.5rem;
}
.message>span:nth-child(2){
  align-self: end
}
.own {
  align-self: flex-end;
  color:white;
  border-radius: 1rem 1rem 0 1rem;
  background: linear-gradient(98.63deg, #24e4f0 0%, #358ff9 100%);
}
.emoji{
position: relative;
}
.gif{
  position: relative;
}
.GifPickerReact{
  position: absolute!important;
  top:-400px;
}
.emoji-picker-react{
  position: absolute!important;
  top:-300px;
}
.w{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap:10px;
  color:white;
  border-radius: 0px 13px 13px 0px;
  background-image: linear-gradient(to top, #0c3483 0%, #a2b6df 100%, #6b8cce 100%, #a2b6df 100%);
}
.fa-location-dot{
  color:red;
}
.mapDiv{
  height:100vh;
}
#loc_img{
  width:16rem;
  cursor: pointer;
}
.rhap_repeat-button {
  color: #0f6848 !important;
}

.rhap_controls-section {
  color: #0f6848 !important;
}

.rhap_play-pause-button {
  /* color: #ff5555 !important; */
  color: #2575fc !important;
}

.rhap_button-clear.rhap_volume-button svg {
  color: #79bf11 !important;
  width: 80% !important;
}
.rhap_progress-filled,
.rhap_progress-indicator {
  background-color: #eee8e8 !important;
}

.rhap_time {
  color: lightgoldenrodyellow !important;
  font-size: 14px !important;
  user-select: none;
  -webkit-user-select: none;
}
.rhap_main-controls-button svg {
  width: 80% !important;
  height: 100%;
}
.rhap_volume-bar-area{
  display: none!important;
}
.rhap_container {
  background: #09203f !important;
  border-radius:8px!important;
  color: white !important;
}
video{
  border-radius:8px;
}
@media only screen and (max-width:720px) {
  .signin {
    width: 350px;
    margin-top: 25%;
  }

  .box {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 20rem !important;
  }
  .chat-section {
    display: flex;
    flex-direction: column;
    flex:100;
  }
  .chat-box{
    display: flex;
    flex-direction: column;
    flex: 0.65;
    display: none;
    transition:2s ease-out;
  }
  .Display{
    display: flex;
    flex-direction: column;
    flex:100;
  }
  .Vanish {
    display: flex;
    flex-direction: column;
    flex: 0.35;
    display: none;
    transition:2s ease-out;
  }
  .containes {
    display: flex;
    background-color: #ededed;
    /* margin-top:-50px; */
    height:98vh;
    width:95vw;
    border-radius: 13px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  }
  .chat-section-header {
    padding: 20px;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    border-right: 1px solid lightgray;
    border-radius:13px 13px 0px 0px;
  }
  .chat-head {
    padding: 20px;
    display: flex;
    /* position: fixed; */
    align-items: center;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    border-radius:13px 13px 0px 0px;
  }
  .w{
    display:none;
  }
  .message{
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    color: black;
    padding: 0.7rem;
    border-radius: 1rem 1rem 1rem 0;
    max-width:18rem;
    width: fit-content;
    display: flex;
    word-wrap: break-word;
    flex-direction: column;
    gap: 0.5rem;
  }
  .message>span:nth-child(2){
    align-self: end
  }
  .own {
    align-self: flex-end;
    color:white;
    border-radius: 1rem 1rem 0 1rem;
    background: linear-gradient(98.63deg, #24e4f0 0%, #358ff9 100%);
  }
  .GifPickerReact{
    position: absolute!important;
    top:-70%;
  }
  .emoji-picker-react{
    position: absolute!important;
    top:-70%;
  }
  .logo>img{
    width:14vw;
  }
}
